
:root{
    /* theme */
    --primary: #317773;
    --secondary: #E2D1F9;
    --black: #000;
    --white: #fff;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.main-c{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

div.descriptor-c{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    background: url('../assets/network-2.jpg') center/cover no-repeat;
    width: 100%;

}
div.normalizer-c{
    background: #31777493;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
div.contain{
    width: 90%;
    height: 90%;
    color: var(--white);
    display:flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}
div.normalizer-c p{
    text-align: left;
    margin: 0.5rem;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
}
div.normalizer-c p.welcome{
    font-size: 2.5rem;
    font-family:cursive, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.normalizer-c p span{
    color: greenyellow;
}
div.recorder-c{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60%;
}
div.form{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 100%;
    height: 100%;
}
div.form div.heading{
    width: 22rem;
    font-size: 3rem;
    padding: 0!important;
    margin-top: 1rem;
}
div.form div.heading p{
    font-size: 2rem;
    margin: 0;
    width: 7rem;
    padding: 0.5rem 0;
    color: var(--primary);
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    border-bottom: 0.4rem solid var(--primary);
}

/* form - start */

div.full-name,
div.username,
div.email,
div.password,
div.gender {
    position: relative;
    margin: 0.5rem 1rem;
    border-radius: 2rem;
}

div.gender{
    width: 22rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}
div.gender .name{
    color: var(--primary);
}
div.gender div.options{
    width: 20rem;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.input-area {
    outline: none;
    border: 1px solid var(--white);
    border-bottom: 5px solid var(--primary);
    padding: 10px 13px;
    width: 20rem;
    font-size: 18px;
    /* border-radius: 5px; */
}

.input-area:valid+.label {
    top: -8px;
    padding: 0 3px;
    font-size: 14px;
    color: var(--primary);
}

.input-area:focus {
    border: 1px solid var(--white);
    border-bottom: 5px solid var(--primary);
}

.label {
    color: var(--primary);
    position: absolute;
    top: 10px;
    left: 20px;
    background: #ffffff;
}

.input-area:focus+.label {
    top: -8px;
    padding: 0 3px;
    font-size: 14px;
    color: var(--primary);
}

form.client-register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.alert{
    right: 0!important;
}
form.client-register-form div.validation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 1rem;
    width: 20rem;
}
form.client-register-form div.validation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 1rem;
    width: 20rem;
}

.btn-login, .btn-submit{
    border-radius: 2rem;
        width: 6rem;
    height: 2.5rem;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 23px;
    font-weight: bold;
    background-color: var(--primary);
    border: 1px solid #1a3b53;

}
.btn-login {
    background-color: var(--secondary);
    border: 1px solid #E2D1F9;
    color: 
    var(--black);
}
.btn-submit {
    width: 20rem;
    border-radius: 2rem;

}
.btn-submit:hover, .btn-login:hover {
    background-color: #1a3b53;
}


form.client-register-form div.validation div.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
    width: 20rem;
}
/* form - end */

@media screen and (max-width: 349px) {
    .input-area, div.gender {
        width: 13rem;
    }
    div.validation {
        width: 15rem;
    }
    
}

@media screen and (min-width: 350px) and (max-width: 430px) {
    .input-area, div.form div.heading, div.gender {
        width: 19rem;
    }
    div.validation {
        width: 22rem;
    }
}
@media screen and (min-width: 431px) and (max-width: 780px) {
    .input-area, div.form div.heading, div.gender {
        width: 23rem;
    }
    div.validation {
        width: 26rem;
    }
    div.logo img {
        width: 180px;
    }
}
@media screen and (min-width: 781px) and (max-width: 990px) {
    .input-area, div.form div.heading, div.gender {
        width: 30rem;
    }
    div.validation {
        width: 33rem;
    }
    div.logo img {
        width: 210px;
    }
}

@media screen and (min-width: 991px){
    div.main-c{
        flex-direction:row;
    
    }
    div.descriptor-c{
        width: 60%;
        height: 100%;
    
    }
    div.recorder-c{
        width: 40%;
        height: 100%;
    }
    div.contain{
        align-items: center;
    }
    div.normalizer-c p{
        text-align: center;
        font-size: 1.3rem;
        
    }
    div.normalizer-c p.welcome{
        text-align: center;
        font-size: 3rem;
    }
    div.normalizer-c p.encourager{
        text-align: center;
        width: 80%;
        
    }
    div.main-c div.recorder-c div.form div.steps-c{
        height: 1%;
    }
    div.form{
        justify-content: center;
    }
}

