
div.validation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
    width: 20rem;
}
div.validation .progress{
    display: flex;
    justify-content: center!important;
    align-items: center;
    height: 3rem;
    width: 15%;
    background-color: white;
}
div.validation div.secondary-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
    width: 20rem;
}

@media screen and (max-width: 349px) {
    div.validation {
        width: 15rem;
    }
    
}

@media screen and (min-width: 350px) and (max-width: 430px) {
    div.validation {
        width: 22rem;
    }
}
@media screen and (min-width: 431px) and (max-width: 780px) {
    div.validation {
        width: 26rem;
    }
}
@media screen and (min-width: 781px) and (max-width: 990px) {
    div.validation {
        width: 33rem;
    }
}

