.setting-form{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.setting-form .input-area {
    width: 22rem;
    background-color: var(--setting-background);
}
.setting-form .label{
    background: var(--setting-background)!important;

}

.setting-form  .validation .progress{
    background-color: var(--setting-background);
}
.setting-form  .validation{
    margin: 0;
}