div.main-c{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

div.recorder-c{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60%;
}
div.form{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 100%;
    height: 100%;
}
div.form div.heading{
    width: 22rem;
    font-size: 3rem;
    padding: 0!important;
    margin-top: 1rem;
}
div.form div.heading p{
    font-size: 2rem;
    margin: 0;
    width: 7rem;
    padding: 0.5rem 0;
    color: var(--primary);
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    border-bottom: 0.4rem solid var(--primary);
}

/* form - start */

form.client-login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

/* form - end */

@media screen and (min-width: 431px) and (max-width: 780px) {
    div.logo img {
        width: 180px;
    }
}
@media screen and (min-width: 781px) and (max-width: 990px) {
    div.logo img {
        width: 210px;
    }
}

@media screen and (min-width: 991px){
    div.main-c{
        flex-direction:row;
    
    }
    div.recorder-c{
        width: 40%;
        height: 100%;
    }
    
    div.main-c div.recorder-c div.form div.steps-c{
        height: 1%;
    }
    div.form{
        justify-content: center;
    }
}