.profile-picture-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}
.set-profile{
    width: 85%;
    margin: 1rem;
}
.set-profile-options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.set-profile-options div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--transition);
    width: 20%;
}
.edit-option:hover{
    color: green;
    transform: scale(1.1);
}
.delete-option:hover{  
    color : rgb(187, 4, 4); 
    transform: scale(1.1);
}