.layout{
    width: 100%;
    background-color: var(--secondary-diluted);
}
.main {
    display: flex;
}
.chat-toggle{
    border-radius: 3rem;
    width: 5rem;
    height: 5rem;
    box-shadow: var(--shadow-4);
    background-color: var(--primary-diluted);
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-box-mobile{
    z-index: 1000;
    width: 80vw;
    height: 70vh;
    box-shadow: var(--shadow-4);
    background-color: red;
    position: fixed;
    right: 2rem;
    bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-box{
    z-index: 1000;
    width: 60vw;
    height: 70vh;
    box-shadow: var(--shadow-4);
    background-color: red;
    position: fixed;
    right: 8rem;
    bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-box .list{
    width: 40%;
    height: 100%;
    background-color: green;
}
.chat-box .conversation{
    width: 60%;
    height: 100%;
    background-color: yellow;
}
.chat-box .list .title{
    width: 100%;
    height: 15%;
    text-align: center;
    background-color: var(--primary);
    color: white;
}
.chat-box .list .title div{
    width: 100%;
    height: 60%;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 1rem ;
}
.chat-box .list .title .heading{
    font-size: x-large;
    font-weight: 900;
    margin-left: 0.3rem;
}
.chat-box .list .content{
    width: 100%;
    height: 85%;
    background-color: aqua;
}
.chat-toggle .toggle{
    z-index: 999999999;
    background-color: var(--primary);
    width: 80%;
    height: 80%;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
