.navbar{
    position: fixed;
    left: 0;
    top: 0;
    height: 10vh;
    width: 100vw;
    background-color: var(--white);
    box-shadow: var(--shadow-3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-back-layer{
    position: relative;
    width:95vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-container{
    position: relative;
    height: 100%;
    width:95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.utility{
    height: 100%;
    width:35%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* position: relative; */
    
}
.utility-items{
    height: 90%;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    position: relative;
}

.search-input input {
    position: absolute;
    left: 9rem;
    top: 0.7rem;
    height: 2rem;
    width: 13vw;
    color: var(--primary);
    font-size: 18px;
    outline: none;
    border: 2px solid var(--primary);
    border-radius: 1rem;
    padding: 0px 10px 0px 40px;
    z-index: 0;
}

.search-input .icon {
    position: absolute;
    left: 9.5rem;
    top: 1.3rem;
    z-index: 1;
    padding-right: 5px;
    border-right: 2px solid var(--primary);
}
.links-container{
    height: 100%;
    width:65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.nav-links-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
    height: 100%;
}
.option-links-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 100%;

}
.option-links-container .nav-links{
    background-color: var(--secondary-diluted);
    padding: 0.5rem;
    border-radius: 2rem;
    margin: 0 0.3rem;

}
.option-links-container .friends{
    background-color: var(--secondary-diluted);
    padding: 0.4rem 0rem; 
    font-weight: bold;
    width: 7rem;

}
.nav-links{
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 2rem;
    text-decoration: none;
    border-radius: 0.3rem;
}
.nav-links-container .nav-links:hover{
    background-color: var(--secondary-diluted);
}
.nav-icon{

    font-size: 1.5rem;
}
.logo-icon{
    position: absolute;
    left: 0;
    top: 0.2rem;
    z-index: 2;
}