/* sidebar  */

/* .sidebar {
  padding: 25px 10px;
  flex: 0.33;
}   */
.sidebarRow {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}
.sidebarRow div{
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: left;
  padding: 0;
  cursor: pointer;
  width: 60%;
}

.sidebarRow .icon-container{
  width: 10%;

}
.sidebarRow:hover {
  background-color: lightgray;
  border-radius: 10px;
}

.sidebarRow h4 {
  margin-left: 20px;
  font-weight: 600;
  font-size: 1rem;
  color:black;
}
/* 
.sidebarRow .nav-icons {
  font-size: x-large;
  color: #2e81f4;
} */


@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

/* .sidebar {
  width: 260px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background: var(--primary);
  padding: 0px 30px;
}

.sidebar__top {
  width: 100%;
  height: 70px;
  line-height: 70px;
}

.sidebar__top h2 {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--white);
  margin-top: 0;
}

.sidebar__top h2 span {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary);
  border-radius: 50%;
}
.sidebar__top h2 i {
  font-weight: 400 !important;
  padding: 5px;
  font-size: 1.2rem;
  color: var(--white);
}

.sidebar__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100% - 5%);
  margin-top: 30px;
}

.menu {
  height: 80%;
}

.sidebar__bottom {
  height: 20%;
}

.nav__link,
.sidebar__bottom span {
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar__bottom span {
  color: var(--white);
  cursor: pointer;
}

.nav__list {
  display: flex;

  row-gap: 2rem;
  flex-direction: column;
  color: var(--white);
}
/* 
.nav__list .nav__item{
  text-decoration: none;
  color: var(--white);
} 

.nav__link i,.sidebar__bottom span i {
  padding: 5px;
  font-size: 1.2rem;
  color: var(--white);
  margin-right: 0.4rem;
}

.nav__active {
  color: white;
  background: #b7ffe913;
  padding: 6px;
  border-radius: 5px;
} */
